<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= yield(:page_title) %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <% if type == :home %>
            <li>
              <a href="index.html">Home</a>
            </li>
          <% end %>
          <li>
            <a href="#">shop</a>
          </li>
          <li class="active"><%= yield(:page_title) %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
