<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/shared/head' %>
  </head>
  <body>
    <div class="main-wrapper">
      <%= render 'layouts/shared/header' %>
      <%= yield %>
      <%= render 'layouts/shared/footer' %>
      <%= render 'layouts/shared/copy_right' %>
    </div>
    <%= render 'layouts/modal/login_modal' %>
    <%= render 'layouts/modal/sign_up_modal' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
